.container {
    max-width: 1000px;
    max-height: 700px;
    padding: 2px 0;
  }
  
  .lh-condensed { line-height: 1.25; }

  .contacto{
    background-image: url(../img/wall.jpg);
  }
  #titleContacts{
    font-size: 3rem;
  }