html {
  font-size: 14px;  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {  
  background-image: url(../img/wall.jpg);
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

#precios{
  font-size: 4rem;
  color: darkblue;
}

#precios1{
  font-size: 2rem;
  color: rgb(218, 8, 8);
}

