html{
    scroll-behavior: smooth !important;
}
.prueba {
    max-width: 100%;
    max-height: 100%;
    background-image: url(../img/fondo3.jpg);
    background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    background-repeat: repeat;    
  }

.principal{
    height: 95vh;
    background-image: url(../img/img1.jpg);
    background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: cornsilk;    
}
.container{
    height: 99vh;
}
.containerServicios{
    height: 95vh;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.containerLugares{
    height: 98vh;
}
.containerPromociones{    
    height: 99vh;
}
.container1{
    height: 99vh;
    background-color: rgba(3, 78, 25, 0.493);
    margin-top: 10vh;
}
div.extra-small{
    max-width: 40px;
    max-height: 40px;
}
.piePagina{
    background-color: rgba(3, 1, 24, 0.493);
    font-family: 'Arial';    
    font-size: x-large;
    color: darkblue;
}

#viajandoMundo{
    font-size: 6rem;
}
#ofrecemos{
    font-size: 4rem;
}
.carousel-item{
    width: auto;
    height: 560px;
}
#lugares, #promociones, #contactenos, #quienesSomos, #nuestrosContactos, #contactoss{
    font-size: 3rem;
}
div.galeria{
    width:95%;
	margin:0 auto;
	display: flex;
	flex-flow:wrap;
	justify-content: center;
}
div.galeria-fotos{ 
    height: 99vh;   
    max-height: 93vh;
    max-width: 140vh;
    padding: 25px 0;    
    padding-bottom: 11%;
    padding: 5px 0 50px;    
    background-color: rgba(148, 3, 3, 0.493);

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div.imagen{
	margin: 3px 3px;
    width: 20%;
}
div.imagen img{
	transition: 0.5s;
    max-width: 95%;
    max-height: 95%;
}

div.imagen img:hover{
	transform: scale(1.3);
	overflow: hidden;
}

#viajemos{    
    margin-top: 10px;	
    line-height: 42px;
    min-height: 100vh;
    padding: 10px 10px;    
    font-family: Arial;
    font-size: large;
}
.historiaViajemos{
    height: 60vh;
    background-image: url(../img/viajemosHistoria.jpg);
    background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana;
    font-size: 3rem;
    color: rgb(1, 1, 20);    
    opacity: 0.6;
}

.datos{
    font-style: oblique;
    font-size: xx-large;
    font-family: 'sans';
}

